<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ bootstrap.load_css() }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Young+Serif&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>toDo</title>
</head>
<body>
<div class="mt-3">
    <div class="pt-2 text-center">
        <div class="container py-1">
            <h1 class="text-body-emphasis title">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                     class="bi bi-check2-circle" viewBox="0 0 16 16">
                    <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                    <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                </svg>
                toDo
            </h1>
            <p class="col-lg-8 mx-auto lead greet">
                {{ message }}
            </p>
        </div>
    </div>
</div>
<div class="container col-sm-4 ">
    <form action="{{ url_for('add_task', task=task) }}" method="post">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Add Task.." aria-describedby="button-addon2"
                   name="task" required>
            <button class="btn btn-outline-dark" type="submit" id="button-addon2">Add</button>
        </div>
    </form>
</div>
<div class="container col-sm-6 pt-2 tasks">
    <ul class="list-group ">
        {% if tasks==[] %}
        <li class="list-group-item text-center list-group-item-info">No tasks</li>
        {% endif%}
        {% for task in tasks %}
        <li class="list-group-item d-flex justify-content-between">
            <div class="form-check">
                <form action="{{ url_for('task_complete', task_id=task.id, task_completed = task.completed) }}"
                      method="POST">
                    {% if task.completed %}
                    <input class="form-check-input" type="checkbox" value="{{ task.completed }}"
                           onchange="this.form.submit()" name="checkbox" checked>
                    <label class="form-check-label text-decoration-line-through">
                        {{ task.task }}
                    </label>
                    {% else %}
                    <input class="form-check-input" type="checkbox" value="{{ task.completed }}"
                           onchange="this.form.submit()" name="checkbox">
                    <label class="form-check-label">
                        {{ task.task }}
                    </label>
                    {% endif %}
                </form>
            </div>
            <a href="{{ url_for('delete_task', task_id=task.id)}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash3-fill"
                     viewBox="0 0 16 16">
                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                </svg>
            </a></li>
        {% endfor %}

    </ul>

</div>

<div class="footer fixed-bottom bg-white text-dark">
    <div class="col-md-12 text-center">
        <p class="px-2">
            You can view your list via the URL that was generated for it. Save this page or email the URL to
                    yourself to get back to your list.
        </p>
        <p class="copyright">
            ©
            <script>document.write(new Date().getFullYear());</script>
            <a href="https://github.com/tin3ga" target="_blank">tin3ga</a>. All rights reserved.
        </p>

    </div>
</div>
{{ bootstrap.load_js() }}
</body>
</html>