<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{ bootstrap.load_css() }}
    <title>toDo</title>
</head>
<body>
<div class="mt-3">
    <div class="pt-5 text-center bg-body-tertiary">
        <div class="container py-1">
            <h1 class="text-body-emphasis">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                     class="bi bi-check2-circle" viewBox="0 0 16 16">
                    <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                    <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                </svg>
                toDo
            </h1>
            <p class="col-lg-8 mx-auto lead">
                {{ message }}
            </p>
        </div>
    </div>
</div>
<div class="container col-sm-4 ">
    <form action="{{ url_for('add_task', task=task) }}" method="post">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Add Task.."aria-describedby="button-addon2" name="task">
            <button class="btn btn-outline-dark" type="submit" id="button-addon2">Add</button>
        </div>
    </form>
</div>
<div class="container col-sm-6 pt-2">
    <ul class="list-group">
        {% if tasks==[] %}
        <li class="list-group-item text-center list-group-item-info">No tasks</li>
        {% endif%}
        {% for task in tasks %}
        <li class="list-group-item">{{ task.task }}</li>
        {% endfor %}
    </ul>
</div>


</body>
</html>